@import "tailwindcss";

/* @layer base {
  :root {
    --color-yellow: #f2dc00;
    --color-red: #b8181e;
    --color-green-dark: #005d31;
    --color-green: #468a59;
    --color-green-light: #58ab6f;
    --color-green-lighter: #7abc8c;
    --color-brown-dark: #604c3f;
    --color-brown: #b58741;
    --color-brown-light: #c79f62;
    --color-brown-lighter: #d4b688;
  }
  
  .font-mizolet {
    font-family: mizolet, sans-serif;
  }
  
  .font-yu-gothic {
    font-family: yu-gothic-pr6n, sans-serif;
  }
} */

@layer components {
  .btn {
    @apply transition duration-300 ease-out hover:cursor-pointer;
  }

  .btn-outline-lg {
    @apply h-[64px] rounded-full border-2 px-10 border-b-4 uppercase hover:translate-y-0.5 hover:border-b-2;
  }

  .btn-circle {
    @apply group-hover:bg-custom-green-dark mx-auto my-auto flex size-10 items-center justify-center rounded-full bg-black;
  }

  .badge-custom {
    @apply rounded-full px-5 text-xs font-semibold md:text-white uppercase lg:text-base;
  }

  .text-circle {
    @apply inline-flex h-[1.8em] w-[1.8em] items-center justify-center rounded-full align-middle;
  }
}

@theme {
  --font-mizolet: mizolet, sans-serif;
  --font-yu-gothic: yu-gothic-pr6n, sans-serif;

  --color-custom-yellow: #f2dc00;
  --color-custom-red: #b8181e;
  --color-custom-green-dark: #005d31;
  --color-custom-green: #468a59;
  --color-custom-green-light: #58ab6f;
  --color-custom-green-lighter: #7abc8c;
  --color-custom-brown-dark: #604c3f;
  --color-custom-brown: #b58741;
  --color-custom-brown-light: #c79f62;
  --color-custom-brown-lighter: #d4b688;
}
