@import "tailwindcss";

@layer base {
  :root {
    --color-yellow: #f2dc00;
    --color-red: #b8181e;
    --color-green-dark: #005d31;
    --color-green: #468a59;
    --color-green-light: #58ab6f;
    --color-green-lighter: #7abc8c;
    --color-brown-dark: #604c3f;
    --color-brown: #b58741;
    --color-brown-light: #c79f62;
    --color-brown-lighter: #d4b688;
  }
  
  .font-mizolet {
    font-family: mizolet, sans-serif;
  }
  
  .font-yu-gothic {
    font-family: yu-gothic-pr6n, sans-serif;
  }
}

@layer components {
  .btn {
    @apply transition duration-300 ease-out hover:cursor-pointer;
  }
  
  .btn-outline-lg {
    @apply rounded-full border px-9 py-4 uppercase hover:translate-y-0.5;
  }
  
  .btn-circle {
    @apply rounded-full size-10 flex items-center justify-center mx-auto my-auto bg-black group-hover:bg-custom-green-dark;
  }

  .badge-green {
    @apply bg-custom-green rounded-full px-5 text-white;
  }
}

@theme {
  --color-custom-yellow: var(--color-yellow);
  --color-custom-red: var(--color-red);
  --color-custom-green-dark: var(--color-green-dark);
  --color-custom-green: var(--color-green);
  --color-custom-green-light: var(--color-green-light);
  --color-custom-green-lighter: var(--color-green-lighter);
  --color-custom-brown-dark: var(--color-brown-dark);
  --color-custom-brown: var(--color-brown);
  --color-custom-brown-light: var(--color-brown-light);
  --color-custom-brown-lighter: var(--color-brown-lighter);
}
